---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/users/Dodgello/blocks/SomeUser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"19aae64d397cc4692811a41e60e2a1fb"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_id": 8397381,
          "updated_at": "2014-07-15T11:26:42Z",
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/Dodgello/blocks/someuser"
          },
          "user": {
            "display_name": "Someuser",
            "_id": 11585358,
            "name": "someuser",
            "staff": false,
            "created_at": "2010-04-04T01:42:25Z",
            "updated_at": "2010-04-04T01:42:25Z",
            "logo": null,
            "_links": {
              "self": "https://api.twitch.tv/kraken/users/someuser"
            }
          }
        }
  recorded_at: Tue, 15 Jul 2014 11:26:46 GMT
recorded_with: VCR 2.9.2
