---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/Dodgello/blocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"df536a19f99366d544e72e9850bc0646"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/Dodgello/blocks?limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/users/Dodgello/blocks?limit=25&offset=25"
          },
          "blocks": [

          ]
        }
  recorded_at: Tue, 15 Jul 2014 14:22:16 GMT
recorded_with: VCR 2.9.2
