---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/dodgello/editors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"e808ddb7a9242f860300a0c5d82a9eca"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/channels/dodgello/editors"
          },
          "users": [

          ]
        }
  recorded_at: Tue, 15 Jul 2014 19:24:20 GMT
recorded_with: VCR 2.9.2
