---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/dodgello
    body:
      encoding: UTF-8
      string: '{"channel":{"status":"test"}}'
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
      Content-Type: application/json
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"35e29e8576b95526c2c4a5136de4efed"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "mature": null,
          "abuse_reported": null,
          "status": "test",
          "display_name": "Dodgello",
          "game": "diablo",
          "delay": 0,
          "_id": 54057928,
          "name": "dodgello",
          "created_at": "2013-12-29T17:09:16Z",
          "updated_at": "2014-07-16T22:14:19Z",
          "logo": null,
          "banner": null,
          "video_banner": null,
          "background": null,
          "profile_banner": null,
          "profile_banner_background_color": null,
          "url": "http://www.twitch.tv/dodgello",
          "views": 4,
          "followers": 0,
          "_links": {
            "self": "https://api.twitch.tv/kraken/channels/dodgello",
            "follows": "https://api.twitch.tv/kraken/channels/dodgello/follows",
            "commercial": "https://api.twitch.tv/kraken/channels/dodgello/commercial",
            "stream_key": "https://api.twitch.tv/kraken/channels/dodgello/stream_key",
            "chat": "https://api.twitch.tv/kraken/chat/dodgello",
            "features": "https://api.twitch.tv/kraken/channels/dodgello/features",
            "subscriptions": "https://api.twitch.tv/kraken/channels/dodgello/subscriptions",
            "editors": "https://api.twitch.tv/kraken/channels/dodgello/editors",
            "teams": "https://api.twitch.tv/kraken/channels/dodgello/teams",
            "videos": "https://api.twitch.tv/kraken/channels/dodgello/videos"
          }
        }
  recorded_at: Tue, 22 Jul 2014 16:14:24 GMT
recorded_with: VCR 2.9.2
