---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/dodgello
    body:
      encoding: US-ASCII
      string: channel=%7B%3Astatus%3D%3E%22test%22%7D
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 400, message: Bad Request}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 400 Bad Request
      X-Api-Version: '3'
      X-Mh-Cache: appcache3; M
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Bad Request",
          "status": 400,
          "message": "Missing required parameter channel"
        }
  recorded_at: Tue, 15 Jul 2014 15:10:01 GMT
- request:
    method: put
    uri: https://api.twitch.tv/kraken/channels/dodgello
    body:
      encoding: UTF-8
      string: '{"channel":{"status":"test"}}'
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
      Content-Type: application/json
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"8eed9c972a8eea4497c9ee67df60ee95"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "mature": null,
          "abuse_reported": null,
          "status": "test",
          "display_name": "Dodgello",
          "game": "diablo",
          "delay": 0,
          "_id": 54057928,
          "name": "dodgello",
          "created_at": "2013-12-29T17:09:16Z",
          "updated_at": "2014-07-15T15:31:44Z",
          "logo": null,
          "banner": null,
          "video_banner": null,
          "background": null,
          "profile_banner": null,
          "profile_banner_background_color": null,
          "url": "http://www.twitch.tv/dodgello",
          "views": 0,
          "followers": 0,
          "_links": {
            "self": "https://api.twitch.tv/kraken/channels/dodgello",
            "follows": "https://api.twitch.tv/kraken/channels/dodgello/follows",
            "commercial": "https://api.twitch.tv/kraken/channels/dodgello/commercial",
            "stream_key": "https://api.twitch.tv/kraken/channels/dodgello/stream_key",
            "chat": "https://api.twitch.tv/kraken/chat/dodgello",
            "features": "https://api.twitch.tv/kraken/channels/dodgello/features",
            "subscriptions": "https://api.twitch.tv/kraken/channels/dodgello/subscriptions",
            "editors": "https://api.twitch.tv/kraken/channels/dodgello/editors",
            "teams": "https://api.twitch.tv/kraken/channels/dodgello/teams",
            "videos": "https://api.twitch.tv/kraken/channels/dodgello/videos"
          }
        }
  recorded_at: Tue, 15 Jul 2014 15:31:50 GMT
[...]
