---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/dodgello/editors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"0ebfe2201134b662dadb543623224c99"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/channels/dodgello/editors"
          },
          "users": [

          ]
        }
  recorded_at: Tue, 15 Jul 2014 14:22:18 GMT
recorded_with: VCR 2.9.2
