---
http_interactions:
- request:
    method: delete
    uri: https://api.twitch.tv/kraken/channels/dodgello/stream_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"1b469b3f6f7b044826ac3c781519b2a1"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "mature": null,
          "abuse_reported": null,
          "status": "test",
          "display_name": "Dodgello",
          "game": "diablo",
          "delay": 0,
          "_id": 54057928,
          "name": "dodgello",
          "created_at": "2013-12-29T17:09:16Z",
          "updated_at": "2014-07-22T16:14:24Z",
          "logo": null,
          "banner": null,
          "video_banner": null,
          "background": null,
          "profile_banner": null,
          "profile_banner_background_color": null,
          "url": "http://www.twitch.tv/dodgello",
          "views": 4,
          "followers": 0,
          "_links": {
            "self": "https://api.twitch.tv/kraken/channels/dodgello",
            "follows": "https://api.twitch.tv/kraken/channels/dodgello/follows",
            "commercial": "https://api.twitch.tv/kraken/channels/dodgello/commercial",
            "stream_key": "https://api.twitch.tv/kraken/channels/dodgello/stream_key",
            "chat": "https://api.twitch.tv/kraken/chat/dodgello",
            "features": "https://api.twitch.tv/kraken/channels/dodgello/features",
            "subscriptions": "https://api.twitch.tv/kraken/channels/dodgello/subscriptions",
            "editors": "https://api.twitch.tv/kraken/channels/dodgello/editors",
            "teams": "https://api.twitch.tv/kraken/channels/dodgello/teams",
            "videos": "https://api.twitch.tv/kraken/channels/dodgello/videos"
          },
          "email": "helaxe@gmail.com",
          "stream_key": "live_54057928_gkIXeHGcSvxEBO3JqOBPfrTJVLlssZ"
        }
  recorded_at: Tue, 22 Jul 2014 16:14:25 GMT
recorded_with: VCR 2.9.2
