---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/dodgello/subscriptions?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 422, message: Unprocessable Entity}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 422 Unprocessable Entity
      X-Api-Version: '3'
      X-Mh-Cache: appcache3; M
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Unprocessable Entity",
          "status": 422,
          "message": "dodgello does not have a subscription program"
        }
  recorded_at: Wed, 06 Aug 2014 08:39:33 GMT
recorded_with: VCR 2.9.2
