---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"5dc5898cc8187dc5e6cf669768d82558"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "streams": [
            {
              "_id": 10350604864,
              "game": "Diablo III: Reaper of Souls",
              "viewers": 487,
              "_links": {
                "self": "http://api.twitch.tv/kraken/streams/mannercookie"
              },
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mannercookie-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mannercookie-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mannercookie-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mannercookie-{width}x{height}.jpg"
              },
              "channel": {
                "_links": {
                  "self": "http://api.twitch.tv/kraken/channels/mannercookie",
                  "follows": "http://api.twitch.tv/kraken/channels/mannercookie/follows",
                  "commercial": "http://api.twitch.tv/kraken/channels/mannercookie/commercial",
                  "stream_key": "http://api.twitch.tv/kraken/channels/mannercookie/stream_key",
                  "chat": "http://api.twitch.tv/kraken/chat/mannercookie",
                  "features": "http://api.twitch.tv/kraken/channels/mannercookie/features",
                  "subscriptions": "http://api.twitch.tv/kraken/channels/mannercookie/subscriptions",
                  "editors": "http://api.twitch.tv/kraken/channels/mannercookie/editors",
                  "videos": "http://api.twitch.tv/kraken/channels/mannercookie/videos",
                  "teams": "http://api.twitch.tv/kraken/channels/mannercookie/teams"
                },
                "background": null,
                "banner": null,
                "display_name": "MannerCookie",
                "game": "Diablo III: Reaper of Souls",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-profile_image-c09e428951249000-300x300.png",
                "mature": true,
                "status": "HC-Seasons Crus, PTR Testing.",
                "url": "http://www.twitch.tv/mannercookie",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-channel_offline_image-f3dfa31a5cd45837-640x360.jpeg",
                "_id": 39607327,
                "name": "mannercookie",
                "created_at": "2013-01-23T07:40:54Z",
                "updated_at": "2014-07-22T13:35:35Z",
                "abuse_reported": null,
                "delay": 0,
                "followers": 12494,
                "profile_banner": null,
                "profile_banner_background_color": "#000000",
                "views": 1412006
              }
            }
          ],
          "_total": 1,
          "_links": {
            "self": "https://api.twitch.tv/kraken/streams/followed?limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/streams/followed?limit=25&offset=25"
          }
        }
  recorded_at: Tue, 22 Jul 2014 16:14:38 GMT
recorded_with: VCR 2.9.2
