---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/Dodgello/follows/channels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"aca0c8922e481d97945b07bbf42ea4e1"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 12,
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/Dodgello/follows/channels?direction=DESC&limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/users/Dodgello/follows/channels?direction=DESC&limit=25&offset=25"
          },
          "follows": [
            {
              "created_at": "2014-05-17T08:52:01Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/Dodgello/follows/channels/mannercookie"
              },
              "channel": {
                "mature": true,
                "abuse_reported": null,
                "status": "LEG GEMS - Day 2",
                "display_name": "MannerCookie",
                "game": "Diablo III: Reaper of Souls",
                "delay": 0,
                "_id": 39607327,
                "name": "mannercookie",
                "created_at": "2013-01-23T07:40:54Z",
                "updated_at": "2014-07-14T23:08:16Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-profile_image-c09e428951249000-300x300.png",
                "banner": null,
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-channel_offline_image-f3dfa31a5cd45837-640x360.jpeg",
                "background": null,
                "profile_banner": null,
                "profile_banner_background_color": "#000000",
                "url": "http://www.twitch.tv/mannercookie",
                "views": 1410144,
                "followers": 12447,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/mannercookie",
                  "follows": "https://api.twitch.tv/kraken/channels/mannercookie/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/mannercookie/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/mannercookie/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/mannercookie",
                  "features": "https://api.twitch.tv/kraken/channels/mannercookie/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/mannercookie/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/mannercookie/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/mannercookie/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/mannercookie/videos"
                }
              }
            },
            {
              "created_at": "2014-03-18T15:34:19Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/Dodgello/follows/channels/mushisgosu"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": "hi im Gosu - Challenger AD - Solo Queueing",
           [...]
