---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/edynlol/follows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"14108486120595dc04e3d0d5b4d46823"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "follows": [
            {
              "created_at": "2014-07-15T13:42:24Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/cikula/follows/channels/edynlol"
              },
              "user": {
                "_id": 41038640,
                "name": "cikula",
                "created_at": "2013-03-06T09:58:24Z",
                "updated_at": "2014-07-05T19:49:08Z",
                "_links": {
                  "self": "https://api.twitch.tv/kraken/users/cikula"
                },
                "display_name": "cikula",
                "logo": null,
                "bio": null,
                "type": "user"
              }
            },
            {
              "created_at": "2014-07-15T13:40:25Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/ondrewtieu/follows/channels/edynlol"
              },
              "user": {
                "_id": 56279501,
                "name": "ondrewtieu",
                "created_at": "2014-02-06T05:21:17Z",
                "updated_at": "2014-07-15T01:43:41Z",
                "_links": {
                  "self"[...]
