---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/edynlol/follows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"e269d9aa700fa3a8d9405d2e9f5820b9"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "follows": [
            {
              "created_at": "2014-07-21T11:34:15Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/cjkentus/follows/channels/edynlol"
              },
              "user": {
                "_id": 59975011,
                "name": "cjkentus",
                "created_at": "2014-03-31T16:51:50Z",
                "updated_at": "2014-07-22T09:50:01Z",
                "_links": {
                  "self": "https://api.twitch.tv/kraken/users/cjkentus"
                },
                "display_name": "CJKentus",
                "logo": null,
                "bio": null,
                "type": "user"
              }
            },
            {
              "created_at": "2014-07-21T11:31:15Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/spagymatalent/follows/channels/edynlol"
              },
              "user": {
                "_id": 46602042,
                "name": "spagymatalent",
                "created_at": "2013-07-25T16:24:33Z",
                "updated_at": "2014-07-21T11:31:16Z",
                "_links": {
                  [...]
