---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/Dodgello/follows/channels/hashinshin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"d6e424dad7c1e028ec4b0b5878d0d727"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "created_at": "2014-03-11T16:07:51Z",
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/Dodgello/follows/channels/hashinshin"
          },
          "channel": {
            "mature": false,
            "abuse_reported": null,
            "status": "The challenger top lane stream where we try but never quite get challenger because man top lane, man. ",
            "display_name": "hashinshin",
            "game": "League of Legends",
            "delay": 0,
            "_id": 29289159,
            "name": "hashinshin",
            "created_at": "2012-03-26T04:43:45Z",
            "updated_at": "2014-07-15T14:13:54Z",
            "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/hashinshin-profile_image-e0b81ec8015bb733-300x300.jpeg",
            "banner": null,
            "video_banner": null,
            "background": null,
            "profile_banner": null,
            "profile_banner_background_color": null,
            "url": "http://www.twitch.tv/hashinshin",
            "views": 1101531,
            "followers": 12598,
            "_links": {
              "self": "https://api.twitch.tv/kraken/channels/hashinshin",
              "follows": "https://api.twitch.tv/kraken/channels/hashinshin/follows",
              "commercial": "https://api.twitch.tv/kraken/channels/hashinshin/commercial",
              "stream_key": "https://api.twitch.tv/kraken/channels/hashinshin/stream_key",
              "chat": "https://api.twitch.tv/kraken/chat/hashinshin",
              "features": "https://api.twitch.tv/kraken/channels/hashinshin/features",
              "subscriptions": "https://api.twitch.tv/kraken/channels/hashinshin/subscriptions",
              "editors": "https://api.twitch.tv/kraken/channels/hashinshin/editors",
              "teams": "https://api.twitch.tv/kraken/channels/hashinshin/teams",
              "videos": "https://api.twitch.tv/kraken/channels/hashinshin/videos"
            }
          }
        }
  recorded_at: Tue, 15 Jul 2014 19:24:24 GMT
recorded_with: VCR 2.9.2
