---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"c3dee49e11ed0a675ba84ea828e03df8"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 2,
          "_links": {
            "self": "https://api.twitch.tv/kraken/streams/followed?limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/streams/followed?limit=25&offset=25"
          },
          "streams": [
            {
              "_id": 10266001344,
              "game": "League of Legends",
              "viewers": 343,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mosttoxiceu-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mosttoxiceu-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mosttoxiceu-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_mosttoxiceu-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/mosttoxiceu"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": "BEST JAX EU d1 80lp+ high elo stream, grinding th lp",
                "display_name": "MOSTTOXICEU",
                "game": "League of Legends",
                "delay": 0,
                "_id": 42778079,
                "name": "mosttoxiceu",
                "created_at": "2013-04-23T11:54:31Z",
                "updated_at": "2014-07-15T15:44:28Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/mosttoxiceu-profile_image-c18ce29bff14127c-300x300.png",
                "banner": null,
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/mosttoxiceu-channel_offline_image-456b3cef1ad58c22-640x360.png",
                "background": null,
                "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/mosttoxiceu-profile_banner-0a625d4fd5e35f96-480.png",
                "profile_banner_background_color": null,
                "url": "http://www.twitch.tv/mosttoxiceu",
                "views": 168413,
                "followers": 3163,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/mosttoxiceu",
                  "follows": "https://api.twitch.tv/kraken/channels/mosttoxiceu/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/mosttoxiceu/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/mosttoxiceu/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/mosttoxiceu",
                  "features": "https://api.twitch.tv/kraken/channels/mosttoxiceu/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/mosttoxiceu/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/mosttoxiceu/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/mosttoxiceu/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/mosttoxiceu/videos"
                }
              }
            },
            {
              "_id": 10264437168,
              "game": "League of Legends",
              "viewers": 173,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_hashinshin-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_hashinshin-320x200.jpg",
                "large": "http://static-[...]
