---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/Dodgello/follows/channels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"669fec906b07965e604f11aab46507ba"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "follows": [
            {
              "created_at": "2014-05-17T08:52:01Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/dodgello/follows/channels/mannercookie"
              },
              "channel": {
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/mannercookie",
                  "follows": "https://api.twitch.tv/kraken/channels/mannercookie/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/mannercookie/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/mannercookie/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/mannercookie",
                  "features": "https://api.twitch.tv/kraken/channels/mannercookie/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/mannercookie/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/mannercookie/editors",
                  "videos": "https://api.twitch.tv/kraken/channels/mannercookie/videos",
                  "teams": "https://api.twitch.tv/kraken/channels/mannercookie/teams"
                },
                "background": null,
                "banner": null,
                "display_name": "MannerCookie",
                "game": "Diablo III: Reaper of Souls",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-profile_image-c09e428951249000-300x300.png",
                "mature": true,
                "status": "HC-Seasons Crus, PTR Testing.",
                "url": "http://www.twitch.tv/mannercookie",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/mannercookie-channel_offline_image-f3dfa31a5cd45837-640x360.jpeg",
                "_id": 39607327,
                "name": "mannercookie",
                "created_at": "2013-01-23T07:40:54Z",
                "updated_at": "2014-07-22T13:35:35Z",
                "abuse_reported": null,
                "delay": 0,
                "followers": 12507,
                "profile_banner": null,
                "profile_banner_background_color": "#000000",
                "views": 1412006
              }
            },
            {
              "created_at": "2014-03-18T15:34:19Z",
              "_links": {
                "self": "https://api.twitch.tv/kraken/users/dodgello/follows/channels/mushisgosu"
              },
              "channel": {
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/mushisgosu",
                  "follows": "https://api.twitch.tv/kraken/channels/mushisgosu/follows",
                  "commercial":[...]
