---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"2784ec9fae519d547515f422191c252d"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 225,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=test"
          },
          "streams": [
            {
              "_id": 10352645040,
              "game": "The Legend of Zelda: Skyward Sword",
              "viewers": 604,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_testrunner-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_testrunner-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_testrunner-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_testrunner-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/testrunner"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": "Zelda: Skyward Sword - Speedrun - Beat the Game (any%)",
                "display_name": "TestRunner",
                "game": "The Legend of Zelda: Skyward Sword",
                "delay": 0,
                "_id": 24350238,
                "name": "testrunner",
                "created_at": "2011-08-25T14:00:33Z",
                "updated_at": "2014-07-22T09:23:17Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/testrunner-profile_image-9e03cf8ac48357f3-300x300.png",
                "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/testrunner-channel_header_image-39c228d6d590be90-640x125.jpeg",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/testrunner-channel_offline_image-47a7481064f1e276-640x360.png",
                "background": null,
                "profile_banner": null,
                "profile_banner_background_color": null,
                "url": "http://www.twitch.tv/testrunner",
                "views": 1684195,
                "followers": 12491,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/testrunner",
                  "follows": "https://api.twitch.tv/kraken/channels/testrunner/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/testrunner/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/testrunner/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/testrunner",
                  "features": "https://api.twitch.tv/kraken/channels/testrunner/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/testrunner/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/testrunner/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/testrunner/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/testrunner/videos"
                }
              }
            },
            {
              "_id": 10356126912,
              "game": "Test Drive Unlimited",
              "viewers": 3,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_autocrator-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_autocrator-320x200.jpg",
                "large": "http://static-[...]
