---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"7993c0281810b84fa73d3b7dea8af747"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 93,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=test"
          },
          "streams": [
            {
              "_id": 10206461936,
              "game": "testgamewithquotes",
              "viewers": 5,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/sevenonemedia"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": null,
                "display_name": "sevenonemedia",
                "game": "testgamewithquotes",
                "delay": 0,
                "_id": 37826723,
                "name": "sevenonemedia",
                "created_at": "2012-11-19T19:48:58Z",
                "updated_at": "2014-07-15T01:46:30Z",
                "logo": null,
                "banner": null,
                "video_banner": null,
                "background": null,
                "profile_banner": null,
                "profile_banner_background_color": null,
                "url": "http://www.twitch.tv/sevenonemedia",
                "views": 340,
                "followers": 12,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/sevenonemedia",
                  "follows": "https://api.twitch.tv/kraken/channels/sevenonemedia/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/sevenonemedia/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/sevenonemedia/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/sevenonemedia",
                  "features": "https://api.twitch.tv/kraken/channels/sevenonemedia/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/sevenonemedia/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/sevenonemedia/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/sevenonemedia/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/sevenonemedia/videos"
                }
              }
            },
            {
              "_id": 10263497008,
              "game": "ArmA III",
              "viewers": 4,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_draco-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_draco-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previ[...]
