---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"05e40ee60d1d917e0921475a73bdd65b"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 174,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=test"
          },
          "streams": [
            {
              "_id": 10264297216,
              "game": "World of Warcraft: Mists of Pandaria",
              "viewers": 1671,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_fatbosstv-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_fatbosstv-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_fatbosstv-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_fatbosstv-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/fatbosstv"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": "Warlords Beta Level 100 Dungeon Testing! - FatbossTV",
                "display_name": "FatbossTV",
                "game": "World of Warcraft: Mists of Pandaria",
                "delay": 0,
                "_id": 24270443,
                "name": "fatbosstv",
                "created_at": "2011-08-21T23:43:44Z",
                "updated_at": "2014-07-15T15:17:12Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/fatbosstv-profile_image-ccaef7ccd4f73e3d-300x300.png",
                "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/fatbosstv-channel_header_image-209f0b113a55d439-640x125.png",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/fatbosstv-channel_offline_image-72a36ab0a2cad21c-640x360.png",
                "background": null,
                "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/fatbosstv-profile_banner-04519f3cf3bc3120-480.png",
                "profile_banner_background_color": "null",
                "url": "http://www.twitch.tv/fatbosstv",
                "views": 1566078,
                "followers": 27088,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/fatbosstv",
                  "follows": "https://api.twitch.tv/kraken/channels/fatbosstv/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/fatbosstv/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/fatbosstv/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/fatbosstv",
                  "features": "https://api.twitch.tv/kraken/channels/fatbosstv/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/fatbosstv/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/fatbosstv/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/fatbosstv/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/fatbosstv/videos"
                }
              }
            },
            {
              "_id": 10206461936,
              "game": "testgamewithquotes",
              "viewers": 1,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevenonemedia-320x200.jpg",
                "large": "http://stat[...]
