---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/channels?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"00c327e2e5d72a182fea3fbea75df329"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 136565,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=10&q=test"
          },
          "channels": [
            {
              "mature": null,
              "abuse_reported": null,
              "status": "GTA Online | Extreme Off-Road BMX | Scorcher Bike Ride",
              "display_name": "RWD_LoWxKeY",
              "game": "test",
              "delay": 0,
              "_id": 61918805,
              "name": "rwd_lowxkey",
              "created_at": "2014-05-01T11:12:32Z",
              "updated_at": "2014-06-24T00:35:11Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/rwd_lowxkey-profile_image-0845db6d4fd7dfb2-300x300.png",
              "banner": null,
              "video_banner": null,
              "background": null,
              "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/rwd_lowxkey-profile_banner-47f7166c42c89d09-480.jpeg",
              "profile_banner_background_color": "#e65d07",
              "url": "http://www.twitch.tv/rwd_lowxkey",
              "views": 1309,
              "followers": 85,
              "_links": {
                "self": "https://api.twitch.tv/kraken/channels/rwd_lowxkey",
                "follows": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/follows",
                "commercial": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/commercial",
                "stream_key": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/stream_key",
                "chat": "https://api.twitch.tv/kraken/chat/rwd_lowxkey",
                "features": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/features",
                "subscriptions": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/subscriptions",
                "editors": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/editors",
                "teams": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/teams",
                "videos": "https://api.twitch.tv/kraken/channels/rwd_lowxkey/videos"
              }
            },
            {
              "mature": null,
              "abuse_reported": null,
              "status": "TEST",
              "display_name": "LeGingeDylan",
              "game": "TEST",
              "delay": 0,
              "_id": 56265346,
              "name": "legingedylan",
              "created_at": "2014-02-05T23:37:14Z",
              "updated_at": "2014-04-25T22:30:37Z",
              "logo"[...]
