---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: ! '"77f34950482b969c89c0d841e4468580"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 235,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=test"
          },
          "streams": [
            {
              "_id": 10229828672,
              "game": "The Testament of Sherlock Holmes",
              "viewers": 70,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_rikytan-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_rikytan-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_rikytan-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_rikytan-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/rikytan"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": "eSuba Rikytan playing The Testament of Sherlock Holmes. (Czech commentary)",
                "display_name": "Rikytan",
                "game": "The Testament of Sherlock Holmes",
                "delay": 0,
                "_id": 20503076,
                "name": "rikytan",
                "created_at": "2011-02-16T20:25:18Z",
                "updated_at": "2014-07-12T15:04:19Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/rikytan-profile_image-5f7b55dfebfce39e-300x300.png",
                "banner": null,
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/rikytan-channel_offline_image-97033f3f714b8436-640x360.jpeg",
                "background": null,
                "profile_banner": null,
                "profile_banner_background_color": null,
                "url": "http://www.twitch.tv/rikytan",
                "views": 710031,
                "followers": 3612,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/rikytan",
                  "follows": "https://api.twitch.tv/kraken/channels/rikytan/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/rikytan/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/rikytan/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/rikytan",
                  "features": "https://api.twitch.tv/kraken/channels/rikytan/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/rikytan/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/rikytan/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/rikytan/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/rikytan/videos"
                }
              }
            },
            {
              "_id": 10231056672,
              "game": "Team Fortress 2",
              "viewers": 21,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_powah-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_powah-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/pre[...]
