---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"e419e7e0c39b4d06cd287f09783ddefa"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 248,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=test"
          },
          "streams": [
            {
              "_id": 10267815216,
              "game": "Aperture Tag: The Paint Gun Testing Initiative",
              "viewers": 5,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_pophead2-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_pophead2-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_pophead2-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_pophead2-{width}x{height}.jpg"
              },
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/pophead2"
              },
              "channel": {
                "mature": false,
                "abuse_reported": null,
                "status": " [Eng/Suomi] It's Finally Here! Closest thing to a Portal 3. Day 1",
                "display_name": "pophead2",
                "game": "Aperture Tag: The Paint Gun Testing Initiative",
                "delay": 0,
                "_id": 44502181,
                "name": "pophead2",
                "created_at": "2013-06-08T18:55:41Z",
                "updated_at": "2014-07-15T18:41:50Z",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/pophead2-profile_image-8e50f26f1e1c3287-300x300.jpeg",
                "banner": null,
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/pophead2-channel_offline_image-f1f774c760732401-640x360.png",
                "background": null,
                "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/pophead2-profile_banner-97c06ca83d3b013c-480.jpeg",
                "profile_banner_background_color": "#5c071a",
                "url": "http://www.twitch.tv/pophead2",
                "views": 1471,
                "followers": 50,
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/pophead2",
                  "follows": "https://api.twitch.tv/kraken/channels/pophead2/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/pophead2/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/pophead2/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/pophead2",
                  "features": "https://api.twitch.tv/kraken/channels/pophead2/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/pophead2/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/pophead2/editors",
                  "teams": "https://api.twitch.tv/kraken/channels/pophead2/teams",
                  "videos": "https://api.twitch.tv/kraken/channels/pophead2/videos"
                }
              }
            },
            {
              "_id": 10268155520,
              "game": "League of Legends",
              "viewers": 1,
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_royalskullz-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_royalskullz-320x200.jpg",
                "large": "http://static-cdn[...]
