---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/channels?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"cd44c094f9497b0e3019b9e582ea3cae"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 215227,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=10&q=test"
          },
          "channels": [
            {
              "mature": false,
              "abuse_reported": null,
              "status": "I'm done!",
              "display_name": "MonotoneTim",
              "game": "testgamewithquotes",
              "delay": 0,
              "_id": 21931814,
              "name": "monotonetim",
              "created_at": "2011-04-22T18:38:25Z",
              "updated_at": "2014-07-15T01:04:35Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/monotonetim-profile_image-e2633f0d45fda0fe-300x300.png",
              "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/monotonetim-channel_header_image-1a06bd343b88ad4b-640x125.png",
              "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/monotonetim-channel_offline_image-03493b1c1e0bdf9b-640x360.png",
              "background": null,
              "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/monotonetim-profile_banner-b54166a3e075eb73-480.png",
              "profile_banner_background_color": "#007cc9",
              "url": "http://www.twitch.tv/monotonetim",
              "views": 1577368,
              "followers": 16013,
              "_links": {
                "self": "https://api.twitch.tv/kraken/channels/monotonetim",
                "follows": "https://api.twitch.tv/kraken/channels/monotonetim/follows",
                "commercial": "https://api.twitch.tv/kraken/channels/monotonetim/commercial",
                "stream_key": "https://api.twitch.tv/kraken/channels/monotonetim/stream_key",
                "chat": "https://api.twitch.tv/kraken/chat/monotonetim",
                "features": "https://api.twitch.tv/kraken/channels/monotonetim/features",
                "subscriptions": "https://api.twitch.tv/kraken/channels/monotonetim/subscriptions",
                "editors": "https://api.twitch.tv/kraken/channels/monotonetim/editors",
                "teams": "https://api.twitch.tv/kraken/channels/monotonetim/teams",
                "videos": "https://api.twitch.tv/kraken/channels/monotonetim/videos"
              }
            },
            {
              "mature": true,
              "abuse_reported": null,
              "status": "猫にゃんの国度",
              "display_name": "ArchonBAo",
              "game": "TEST",
              "delay": 0,
              "_id": 1889314,
              "name": "archonbao",
              "created_at": "2008-09-24T11:48:55Z",
              "updated_at": "2014-07-12T21:17:03Z",
              "logo": "h[...]
