---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/channels?limit=10&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"3ff13124da14f4e43a96354f1487e628"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 199552,
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=0&q=test",
            "next": "https://api.twitch.tv/kraken/search/channels?limit=10&offset=10&q=test"
          },
          "channels": [
            {
              "mature": true,
              "abuse_reported": null,
              "status": "猫にゃんの国度",
              "display_name": "ArchonBAo",
              "game": "TEST",
              "delay": 0,
              "_id": 1889314,
              "name": "archonbao",
              "created_at": "2008-09-24T11:48:55Z",
              "updated_at": "2014-07-12T21:17:03Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/archonbao-profile_image-e18707671e5a5c3a-300x300.jpeg",
              "banner": null,
              "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/archonbao-channel_offline_image-cca8a4250afd47c7-640x360.jpeg",
              "background": null,
              "profile_banner": null,
              "profile_banner_background_color": null,
              "url": "http://www.twitch.tv/archonbao",
              "views": 244363,
              "followers": 587,
              "_links": {
                "self": "https://api.twitch.tv/kraken/channels/archonbao",
                "follows": "https://api.twitch.tv/kraken/channels/archonbao/follows",
                "commercial": "https://api.twitch.tv/kraken/channels/archonbao/commercial",
                "stream_key": "https://api.twitch.tv/kraken/channels/archonbao/stream_key",
                "chat": "https://api.twitch.tv/kraken/chat/archonbao",
                "features": "https://api.twitch.tv/kraken/channels/archonbao/features",
                "subscriptions": "https://api.twitch.tv/kraken/channels/archonbao/subscriptions",
                "editors": "https://api.twitch.tv/kraken/channels/archonbao/editors",
                "teams": "https://api.twitch.tv/kraken/channels/archonbao/teams",
                "videos": "https://api.twitch.tv/kraken/channels/archonbao/videos"
              }
            },
            {
              "mature": null,
              "abuse_reported": null,
              "status": "GTA Online | Extreme Off-Road BMX | Scorcher Bike Ride",
              "display_name": "RWD_LoWxKeY",
              "game": "test",
              "delay": 0,
              "_id": 61918805,
              "name": "rwd_lowxkey",
              "created_at": "2014-05-01T11:12:32Z",
              "updated_at"[...]
