---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/teams/bloodlegion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"ee84f254bf59f28a025991f397117905"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_id": 167,
          "name": "bloodlegion",
          "info": "Only the best Serious Gaming channels on Twitch!\n\n\n\n\n",
          "display_name": "Serious Gaming",
          "created_at": "2012-01-26T00:42:24Z",
          "updated_at": "2014-01-10T23:35:00Z",
          "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-bloodlegion-team_logo_image-3d86bda4dcc9ecb4-300x300.png",
          "banner": null,
          "background": null,
          "_links": {
            "self": "https://api.twitch.tv/kraken/teams/bloodlegion"
          }
        }
  recorded_at: Wed, 06 Aug 2014 09:15:24 GMT
recorded_with: VCR 2.9.2
