---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/teams/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"174d46a288487dfbee2e20abd407c18b"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/teams?limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/teams?limit=25&offset=25"
          },
          "teams": [
            {
              "_id": 1,
              "name": "testteam",
              "info": "I love working for Twitch!\n\n\n\n",
              "display_name": "test",
              "created_at": "2011-10-11T22:49:05Z",
              "updated_at": "2013-10-17T23:29:42Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-testteam-team_logo_image-46943237490be5e7-300x300.jpeg",
              "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-testteam-banner_image-bf27b5786c6bc60b-640x125.jpeg",
              "background": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-testteam-background_image-c72e038f428c9c7d.png",
              "_links": {
                "self": "https://api.twitch.tv/kraken/teams/testteam"
              }
            },
            {
              "_id": 2,
              "name": "eg",
              "info": "Team Info\n\n",
              "display_name": "Evil Geniuses",
              "created_at": "2011-10-11T23:59:43Z",
              "updated_at": "2014-01-13T21:00:49Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-eg-team_logo_image-70b7ba4b49b53750-300x300.jpeg",
              "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-eg-banner_image-de444d058fd2cfde-640x125.jpeg",
              "background": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-eg-background_image-22b1b13774a85da0.jpeg",
              "_links": {
                "self": "https://api.twitch.tv/kraken/teams/eg"
              }
            },
            {
              "_id": 5,
              "name": "betagamers",
              "info": "<img src=\"http://i.imgur.com/O19hf.png\" />\r\n\r\n",
              "display_name": "BETAgamers",
              "created_at": "2011-10-25T23:28:33Z",
              "updated_at": "2013-06-01T11:54:23Z",
              "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-betagamers-team_logo_image-0dd971652eab2f69-300x300.png",
              "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/team-betagamers-banner_image-002e2e17db12b08f-640x125.png",
              "background": "http://sta[...]
