---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/chat/dodgello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Www-Authenticate: OAuth realm='TwitchTV'
      Etag: '"42aaa0acbfc9cd2f2b2b7ee0a9cded76"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "emoticons": "https://api.twitch.tv/kraken/chat/dodgello/emoticons",
            "badges": "https://api.twitch.tv/kraken/chat/dodgello/badges",
            "self": "https://api.twitch.tv/kraken/chat/dodgello"
          }
        }
  recorded_at: Wed, 16 Jul 2014 16:28:44 GMT
recorded_with: VCR 2.9.2
