---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/chat/dodgello/emoticons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"f6d88fef56cdca7559572f6d50bfaa70"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/chat/dodgello/emoticons"
          },
          "emoticons": [
            {
              "width": 27,
              "height": 28,
              "regex": "Volcania",
              "state": "active",
              "subscriber_only": false,
              "url": "http://static-cdn.jtvnw.net/jtv_user_pictures/chansub-global-emoticon-efbcc231b2d2d206-27x28.png"
            },
            {
              "width": 24,
              "height": 30,
              "regex": "DatSheffy",
              "state": "active",
              "subscriber_only": false,
              "url": "http://static-cdn.jtvnw.net/jtv_user_pictures/chansub-global-emoticon-bf13a0595ecf649c-24x30.png"
            },
            {
              "width": 28,
              "height": 28,
   [...]
