---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/ingests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"7ab7698d20e9af2a55a996f4c4dc8b76"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/ingests"
          },
          "ingests": [
            {
              "name": "EU: Amsterdam, NL",
              "availability": 1.0,
              "_id": 24,
              "default": false,
              "url_template": "rtmp://live-ams.twitch.tv/app/{stream_key}"
            },
            {
              "name": "EU: Stockholm, SE",
              "availability": 1.0,
              "_id": 57,
              "default": false,
              "url_template": "rtmp://live-arn.justin.tv/app/{stream_key}"
            },
            {
              "name": "EU: Paris, FR",
              "availability": 1.0,
              "_id": 61,
              "default": false,
              "url_template": "rtmp://live-cdg.twitch.t[...]
