---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"05f7477aee442798d76e5223aa66be35"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "display_name": "Dodgello",
          "_id": 54057928,
          "name": "dodgello",
          "type": "user",
          "bio": null,
          "created_at": "2013-12-29T17:09:16Z",
          "updated_at": "2014-07-22T16:14:24Z",
          "logo": null,
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/dodgello"
          },
          "email": "helaxe@gmail.com",
          "partnered": false
        }
  recorded_at: Wed, 06 Aug 2014 08:52:11 GMT
recorded_with: VCR 2.9.2
