---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/dodgello
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"7ea0ea135835dfba336a9a77877c8008"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "display_name": "Dodgello",
          "_id": 54057928,
          "name": "dodgello",
          "type": "user",
          "bio": null,
          "created_at": "2013-12-29T17:09:16Z",
          "updated_at": "2014-07-22T16:14:24Z",
          "logo": null,
          "_links": {
            "self": "https://api.twitch.tv/kraken/users/dodgello"
          }
        }
  recorded_at: Wed, 06 Aug 2014 08:52:10 GMT
recorded_with: VCR 2.9.2
