---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"985caa5347af40ecd97eaceb732866a2"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/videos/followed?limit=10&offset=0",
            "next": "https://api.twitch.tv/kraken/videos/followed?limit=10&offset=10"
          },
          "videos": [
            {
              "title": "Juke City",
              "description": "Parkour in summoners rift",
              "broadcast_id": 10545496816,
              "_id": "c4829903",
              "recorded_at": "2014-08-05T15:25:19Z",
              "game": "League of Legends",
              "length": 49,
              "preview": "http://static-cdn.jtvnw.net/jtv.thumbs/archive-554821618-320x240.jpg",
              "url": "http://www.twitch.tv/sllverlady1/c/4829903",
              "views": 26,
              "_links": {
                "self": "https://api.twitch.tv/kraken/videos/c4829903",
                "channel": "https://api.twitch.tv/kraken/channels/sllverlady1"
              },
              "channel": {
                "name": "sllverlady1",
                "display_name": "Sllverlady1"
              }
            },
            {
              "title": "Barb build I'm working on",
              "description": "Perma WOTB? Yes plz.",
              "broadcast_id": 10464378288,
              "_id": "c4789566",
              "recorded_at": "2014-07-31T00:14:30Z",
              "game": "Diablo III: Reaper of Souls",
              "length": 405,
              "preview": "http://static-cdn.jtvnw.net/jtv.thumbs/archive-552923631-320x240.jpg",
              "url": "http:[...]
