---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/dexter_bl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"78ce5314c483c8e5386368a84f8a7c8e"'
      X-Mh-Cache: appcache3; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/streams/dexter_bl",
            "channel": "https://api.twitch.tv/kraken/channels/dexter_bl"
          },
          "stream": null
        }
  recorded_at: Tue, 22 Jul 2014 16:20:52 GMT
recorded_with: VCR 2.9.2
