---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"be7f755a8681d93614a032d167e912c7"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "channels": 9128,
          "viewers": 324313,
          "_links": {
            "self": "https://api.twitch.tv/kraken/streams/summary"
          }
        }
  recorded_at: Tue, 22 Jul 2014 16:21:06 GMT
recorded_with: VCR 2.9.2
