---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=Minecraft&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: ! '"087fde48acfaf2769f306f731a12af05"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "streams": [
            {
              "_id": 10553181008,
              "game": "Minecraft",
              "viewers": 7281,
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/bacon_donut"
              },
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_bacon_donut-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_bacon_donut-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_bacon_donut-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_bacon_donut-{width}x{height}.jpg"
              },
              "channel": {
                "_links": {
                  "self": "http://api.twitch.tv/kraken/channels/bacon_donut",
                  "follows": "http://api.twitch.tv/kraken/channels/bacon_donut/follows",
                  "commercial": "http://api.twitch.tv/kraken/channels/bacon_donut/commercial",
                  "stream_key": "http://api.twitch.tv/kraken/channels/bacon_donut/stream_key",
                  "chat": "http://api.twitch.tv/kraken/chat/bacon_donut",
                  "features": "http://api.twitch.tv/kraken/channels/bacon_donut/features",
                  "subscriptions": "http://api.twitch.tv/kraken/channels/bacon_donut/subscriptions",
                  "editors": "http://api.twitch.tv/kraken/channels/bacon_donut/editors",
                  "videos": "http://api.twitch.tv/kraken/channels/bacon_donut/videos",
                  "teams": "http://api.twitch.tv/kraken/channels/bacon_donut/teams"
                },
                "background": null,
                "banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/bacon_donut-channel_header_image-85809e3381b9380b-640x125.png",
                "display_name": "Bacon_Donut",
                "game": "Minecraft",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/bacon_donut-profile_image-4c7853beb3247b30-300x300.png",
                "mature": false,
                "status": "[Bacon] Build Guild Season 5! FTB Unstable Private Server! WITH BACON!!!!!!",
                "url": "http://www.twitch.tv/bacon_donut",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/bacon_donut-channel_offline_image-054855daba7ea79c-640x360.png",
                "_id": 36155872,
                "name": "bacon_donut",
                "created_at": "2012-09-13T22:11:28Z",
                "updated_at": "2014-08-06T02:00:13Z",
                "abuse_reported": null,
                "delay": 0,
                "followers": 216848,
                "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/bacon_donut-profile_banner-b4376e703de7e67b-480.jpeg",
                "profile_banner_background_color": null,
                "views": 11674399
              }
            },
            {
              "_id": 10551241664,
              "game": "Minecraft",
              "viewers": 1024,
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/soaryn"
              },
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_soaryn-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_soaryn-320x200.jpg",
          [...]
