---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/featured
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"f749f1b8a8fedd856a58ffcaa340ab41"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/streams/featured?limit=25&offset=0",
            "next": "https://api.twitch.tv/kraken/streams/featured?limit=25&offset=25"
          },
          "featured": [
            {
              "text": "<p>Live everyday, you'll see everything on this channel from new releases, nostalgic Playstation 2 streams, and even closed betas. Brotatoe maintains 100% chat interaction at all times, so you'll never feel left out.</p>\n\n<br>\n\n\n<p><a href=\"/brotatoe\">Click here</a> to join Bro and say hello!</p>\n",
              "image": "http://s.jtvnw.net/jtv_user_pictures/hosted_images/testthumbnail.png",
              "stream": {
                "_id": 10356184880,
                "game": "Fallout: New Vegas",
                "viewers": 714,
                "preview": {
                  "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_brotatoe-80x50.jpg",
                  "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_brotatoe-320x200.jpg",
                  "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_brotatoe-640x400.jpg",
                  "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_brotatoe-{width}x{height}.jpg"
                },
                "_links": {
                  "self": "https://api.twitch.tv/kraken/streams/brotatoe"
                },
                "channel": {
                  "mature": true,
                  "abuse_reported": null,
                  "status": "BroPlays: Fallout: New Vegas",
                  "display_name": "Brotatoe",
                  "game": "Fallout: New Vegas",
                  "delay": 0,
                  "_id": 22344826,
                  "name": "brotatoe",
                  "created_at": "2011-05-11T04:53:03Z",
                  "updated_at": "2014-07-22T15:50:35Z",
                  "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/brotatoe-profile_image-d06820980034716a-300x300.jpeg",
                  "banner": null,
                  "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/brotatoe-channel_offline_image-36c2094710b6a138-640x360.png",
                  "background": null,
                  "profile_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/brotatoe-profile_banner-562b57a7a34f64fe-480.png",
                  "profile_banner_background_color": "null",
                  "url": "http://www.twitch.tv/brotatoe",
                  "views": 5705665,
                  "followers": 43406,
                  "_links": {
                    "self": "https://api.twitch.tv/kraken/channels/brotatoe",
                    "follows": "https://api.twitch.tv/kraken/channels/brotatoe/follows",
                    "commercial": "https://api.twitch.tv/kraken/channels/brotatoe/commercial",
                    "stream_key": "https://api.twitch.tv/kraken/channels/brotatoe/stream_key",
                    "chat": "https://api.twitch.tv/kraken/chat/brotatoe",
                    "features": "https://api.twitch.tv/kraken/channels/brotatoe/features",
                    "subscriptions": "https://api.twitch.tv/kraken/channels/brotatoe/subscriptions",
                    "editors": "https://api.twitch.tv/kraken/channels/brotatoe/editors",
                    "teams": "https://api.twitch.tv/kraken/channels/brotatoe/teams",
                    "videos": "https://api.twitch.tv/kraken/channels/brotatoe/videos"
                  }
                }
              }
            },
            {
              "text": "<p>MiSTakE, the support player of S2 World Champion, usually streams solo Q on KR server, NA server and TW server.</p>\n\n<br>\n\n\n<p>MISTAKE，S2世界冠軍，擅長輔助位置，平常直播單排韓服、美服、臺服。</p>\n",
              "image": "http://s.jtvnw.net/jtv_user_pictures/hosted_images/mistake_lol.jpg",
              "stream": {
                "_id": 10354201488,
 [...]
