---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams?game=Minecraft&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"c64298d4ec1a09f2767d0fd4a067ce6d"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "streams": [
            {
              "_id": 10355439408,
              "game": "Minecraft",
              "viewers": 4365,
              "_links": {
                "self": "http://api.twitch.tv/kraken/streams/sevadus"
              },
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevadus-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevadus-320x200.jpg",
                "large": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevadus-640x400.jpg",
                "template": "http://static-cdn.jtvnw.net/previews-ttv/live_user_sevadus-{width}x{height}.jpg"
              },
              "channel": {
                "_links": {
                  "self": "https://api.twitch.tv/kraken/channels/sevadus",
                  "follows": "https://api.twitch.tv/kraken/channels/sevadus/follows",
                  "commercial": "https://api.twitch.tv/kraken/channels/sevadus/commercial",
                  "stream_key": "https://api.twitch.tv/kraken/channels/sevadus/stream_key",
                  "chat": "https://api.twitch.tv/kraken/chat/sevadus",
                  "features": "https://api.twitch.tv/kraken/channels/sevadus/features",
                  "subscriptions": "https://api.twitch.tv/kraken/channels/sevadus/subscriptions",
                  "editors": "https://api.twitch.tv/kraken/channels/sevadus/editors",
                  "videos": "https://api.twitch.tv/kraken/channels/sevadus/videos",
                  "teams": "https://api.twitch.tv/kraken/channels/sevadus/teams"
                },
                "background": null,
                "banner": null,
                "display_name": "Sevadus",
                "game": "Minecraft",
                "logo": "http://static-cdn.jtvnw.net/jtv_user_pictures/sevadus-profile_image-e9b729a29422327c-300x300.png",
                "mature": true,
                "status": "My Birthday! Captive Minecraft 2 Adventure Map! .:. @sevadus .:. sevadus.tv",
                "url": "http://www.twitch.tv/sevadus",
                "video_banner": "http://static-cdn.jtvnw.net/jtv_user_pictures/sevadus-channel_offline_image-a24c411982078268-640x360.png",
                "_id": 25553391,
                "name": "sevadus",
                "created_at": "2011-10-18T19:17:47Z",
                "updated_at": "2014-07-22T14:48:01Z",
                "abuse_reported": null,
                "delay": 0,
                "followers": 194638,
                "profile_banner": null,
                "profile_banner_background_color": null,
                "views": 16927568
              }
            },
            {
              "_id": 10356270928,
              "game": "Minecraft",
              "viewers": 1363,
              "_links": {
                "self": "https://api.twitch.tv/kraken/streams/jonbams"
              },
              "preview": {
                "small": "http://static-cdn.jtvnw.net/previews-ttv/live_user_jonbams-80x50.jpg",
                "medium": "http://static-cdn.jtvnw.net/previews-ttv/live_user_jonbams-320x200.jpg",
       [...]
