---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/dexter_bl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth <ACCESS_TOKEN>
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"2abfb590083d557ec20dccd107aebebc"'
      X-Mh-Cache: appcache2; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": "https://api.twitch.tv/kraken/search/games?q=star&type=suggest"
          },
          "games": [
            {
              "name": "Star Trek Online",
              "popularity": 4,
              "_id": 19858,
              "giantbomb_id": 21810,
              "box": {
                "template": "http://static-cdn.jtvnw.net/ttv-boxart/Star%20Trek%20Online-{width}x{height}.jpg",
                "small": "http://static-cdn.jtvnw.net/ttv-boxart/Star%20Trek%20Online-52x72.jpg",
                "medium": "http://static-cdn.jtvnw.net/ttv-boxart/Star%20Trek%20Online-136x190.jpg",
                "large": "http://static-cdn.jtvnw.net/ttv-boxart/Star%20Trek%20Online-272x380.jpg"
              },
              "logo": {
                "template": "http://static-cdn.jtvnw.net/ttv-logoart/Star%20Trek%20Online-{width}x{height}.jpg",
                "small": "http://static-cdn.jtvnw.net/ttv-logoart/Star%20Trek%20Online-60x36.jpg",
                "medium": "http://static-cdn.jtvnw.net/ttv-logoart/Star%20Trek%20Online-120x72.jpg",
                "large": "http://static-cdn.jtvnw.net/ttv-logoart/Star%20Trek%20Online-240x144.jpg"
              },
              "_links": {
              }
            },
          [...]
