---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: ! '"8810737cc4646bb60f2ae1796fd94d4f"'
      X-Mh-Cache: appcache4; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 819,
          "_links": {
            "self": "https://api.twitch.tv/kraken/games/top?limit=10&offset=0",
            "next": "https://api.twitch.tv/kraken/games/top?limit=10&offset=10"
          },
          "top": [
            {
              "viewers": 231350,
              "channels": 212,
              "game": {
                "name": "Dota 2",
                "_id": 29595,
                "giantbomb_id": 32887,
                "box": {
                  "template": "http://static-cdn.jtvnw.net/ttv-boxart/Dota%202-{width}x{height}.jpg",
                  "small": "http://static-cdn.jtvnw.net/ttv-boxart/Dota%202-52x72.jpg",
                  "medium": "http://static-cdn.jtvnw.net/ttv-boxart/Dota%202-136x190.jpg",
                  "large": "http://static-cdn.jtvnw.net/ttv-boxart/Dota%202-272x380.jpg"
                },
                "logo": {
                  "template": "http://static-cdn.jtvnw.net/ttv-logoart/Dota%202-{width}x{height}.jpg",
                  "small": "http://static-cdn.jtvnw.net/ttv-logoart/Dota%202-60x36.jpg",
                  "medium": "http://static-cdn.jtvnw.net/ttv-logoart/Dota%202-120x72.jpg",
                  "large": "http://static-cdn.jtvnw.net/ttv-logoart/Dota%202-240x144.jpg"
                },
                "_links": {
                }
              }
            },
            {
              [...]
