---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
      Status: 200 OK
      X-Api-Version: '3'
      Etag: '"b4d7556db2469d2428e2e62f2a2d7d6c"'
      X-Mh-Cache: appcache1; M
      Front-End-Https: 'on'
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 842,
          "_links": {
            "self": "https://api.twitch.tv/kraken/games/top?limit=10&offset=0",
            "next": "https://api.twitch.tv/kraken/games/top?limit=10&offset=10"
          },
          "top": [
            {
              "viewers": 102110,
              "channels": 1523,
              "game": {
                "name": "League of Legends",
                "_id": 21779,
                "giantbomb_id": 24024,
                "box": {
                  "template": "http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg",
                  "small": "http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-52x72.jpg",
                  "medium": "http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-136x190.jpg",
                  "large": "http://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg"
                },
                "logo": {
                  "template": "http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-{width}x{height}.jpg",
                  "small": "http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-60x36.jpg",
                  "medium": "http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-120x72.jpg",
                  "large": "http://static-cdn.jtvnw.net/ttv-logoart/League%20of%20Legends-240x144.jpg"
                },
                "_links": {
                }
       [...]
